/* In globals.css or your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.7; /* Start and end with lower opacity */
  }
  50% {
    opacity: 1; /* Full opacity in the middle of the animation */
  }
}

.twinkle {
  animation: twinkle 1.5s infinite; /* Animation duration and infinite loop */
}
